<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	
    <title>Club bearbeiten</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/shop-homepage.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index">FCSearch</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                     <li>
                        <a href="#"> &Uuml;ber uns</a>
                    </li>
                    <li>
                        <a href="listClubs">Vereine</a>
                    </li>
                    <li>
                        <a href="listPlayers">Spieler</a>
                    </li>
                    <li>
                        <a href="contact">Kontakt</a>
                    </li>
                    <li style="position:absolute;right:50px;">
                        <a href="login">Login</a>
                    </li>
                    <li style="position:absolute;right:100px;">
                        <a href="register">Registrieren</a>
                    </li>
                </ul>
            </div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>
<!-- /Navigation -->

	<div class="container" role="main">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<form class="form-horizontal" method="post" th:action="${club} ? @{/editClub(clubId=${club.clubId})} : @{addClub}">
					<fieldset>
						<legend th:text="${club}? 'Change Club' : 'New Club'">Neuer Verein</legend>


						<!--  ----------------  clubId ---------------- 
						<div class="form-group">
							<label for="inputClubId" class="col-md-2 control-label">ClubID</label>
							<div class="col-md-10">
								<input class="form-control" id="inputSSNClubId" type="text" name="clubId" th:value="${club} ? ${club.clubId}" th:readonly="${club}">
							</div>
						</div>
						
						-->

						<!-- --------------  clubName ---------------- -->
						<div class="form-group">
							<label for="inputClubName" class="col-md-2 control-label">Vereinsname
							</label>
							<div class="col-md-10">
								<input class="form-control" id="inputClubName" type="text" name="clubName" th:value="${club} ? ${club.clubName}">
							</div>
						</div>
						<!-- --------------  location---------------- -->
						<div class="form-group">
							<label for="inputLocation" class="col-md-2 control-label">Standort
							</label>
							<div class="col-md-10">
								<input class="form-control" id="inputLocation" type="text" name="location" th:value="${club} ? ${club.location}">
							</div>
						</div>
						<!-- --------------  coach ---------------- -->
						<div class="form-group">
							<label for="inputCoach" class="col-md-2 control-label">Trainer
							</label>
							<div class="col-md-10">
								<input class="form-control" id="inputCoach" type="text" name="coach" th:value="${club} ? ${club.coach}">
							</div>
						</div>
						<!-- --------------  trainingDays---------------- -->
						<div class="form-group">
							<label for="inputTrainingDays" class="col-md-2 control-label">Trainingstage
							</label>
							<div class="col-md-10">
								<input class="form-control" id="inputTrainingDays" type="text" name="trainingDays" th:value="${club} ? ${club.trainingDays}">
							</div>
						</div>
						<!-- --------------  trainingTime---------------- -->
						<div class="form-group">
							<label for="inputTainingTime" class="col-md-2 control-label">Trainingszeit
							</label>
							<div class="col-md-10">
								<input class="form-control" id="inputTrainingTime" type="text" name="trainingTime" th:value="${club} ? ${club.trainingTime}">
							</div>
						</div>
						<!-- --------------  sponsor---------------- -->
						<div class="form-group">
							<label for="inputSponsor" class="col-md-2 control-label">Sponsoren
							</label>
							<div class="col-md-10">
								<input class="form-control" id="inputSponsor" type="text" name="sponsor" th:value="${club} ? ${club.sponsor}">
							</div>
						</div>
						<!-- --------------  foundingYear ---------------- -->
						<div class="form-group">
							<label for="inputFoundingYear" class="col-md-2 control-label">Gr&uuml;ndungsjahr
							</label>
							<div class="col-md-10">
								<input class="form-control" id="inputFoundingYear" type="text" name="foundingYear" th:value="${club} ? ${club.foundingYear}">
							</div>
						</div>
						
						
						<!-- --------------  E Mail ---------------- -->
						<div class="form-group">
							<label for="inputClubAdress" class="col-md-2 control-label">E-Mail Adresse
							</label>
							<div class="col-md-10">
								<input class="form-control" id="inputClubAdress" type="text" name="clubAdress" th:value="${club} ? ${club.clubAdress}">
							</div>
						</div>
					

						<!-- --------------  buttons ---------------- -->
						<div class="form-group">
							<div class="col-md-10 col-md-offset-2">

							<a th:href="@{/savePlayer}">
								<button type="submit" class="btn btn-primary">Speichern</button>
								
								
							
								<a href="listClubs">
									<button type="button" class="btn btn-default">Abbrechen</button>
								</a>
							</div>
						</div>

					</fieldset>
				</form>
			</div>
		</div>

	</div>
	<!--  End of container -->


	<div th:replace="~{includes/bootstrapJS :: bootstrapJS}" />

	<!-- JS for Datetime picker -->

	<script type="text/javascript"
		src="http://www.malot.fr/bootstrap-datetimepicker/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>

	<script>
		$(function() {

			$(".form_datetime").datetimepicker({
				format : "dd.mm.yyyy",
				autoclose : true,
				todayBtn : true,
				pickerPosition : "bottom-left",
				minView : 2
			});

		});
	</script>

</body>
</html>
